<div class="modal fade" id="accModal" ng-controller="BetController">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="panel panel-info title">
				<div class="panel-heading title">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
					<h3 class="panel-title">Accept Bet</h3>
				</div>

				<div class="panel-body">
					<form ng-submit="acceptBet(selectedBet)">
						<input type="submit" value="Accept Bet?" class="btn btn-info" ng-disabled="$parent.block">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>