<div class="modal fade" id="betModal" ng-controller="BetController">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="panel panel-warning title">
				<div class="panel-heading title">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h3 class="panel-title">Make a Bet</h3>
				</div>

				<div class="panel-body">
					<form ng-submit="createBet()">              
				        <input type="text" ng-model="bet.title" class="form-control" placeholder="Bet title" required><br>
				        <textarea ng-model="bet.description" class="form-control" placeholder="Describe the bet" required></textarea><br>
				        <input type="email" ng-model="bet.bettee" class="form-control" placeholder="Who will you be betting?" required><br>
				        <input type="number" ng-model="bet.total" class="form-control" placeholder="How much will you wager?" required><br>
				        <input type="submit" value="Post" class="btn btn-warning">
				    </form>
				</div>
			</div>
		</div>
	</div>
</div>