<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h2 class="title">Dashboard</h2>
		<br>

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">Initiated Bets <span class="badge">{{numInitiatedBets}}</span></h3>
					</div>
					<div class="panel-body">
						<div class="list-group">
							<!-- SEARCH TOOL -->
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									</div>
						      		<input type="text" ng-model="searchInitBet" class="form-control" placeholder="Search">
						    	</div>	
							</div>		
							
							<!-- BET LIST -->	
							<a ng-repeat="bet in initiatedBets | filter: {title: searchInitBet} | orderBy: 'datetime':true" ng-href="#/browse/{{bet.betId}}">
								<div class="list-group-item">
									<div class="row-picture">
										<img class="circle" ng-src="{{bet.gravatar}}">
									</div>    
							        <div class="row-content">
							            <h4 class="list-group-item-heading">{{bet.title | limitTo:25}}{{ bet.title.length > 25? "..." : ""}}</h4>
							            <span class="list-group-item-text">
							            	<span am-time-ago="{{bet.datetime}}"></span>
							            </span>		            
							        </div>
							        <div class="payment">
							        	<div>${{bet.total}}</div>
							        	<!-- <span class="label status {{bet.status}}">{{bet.status}}</span> -->
							        </div>
							    </div>		    
						    	<div class="list-group-separator"></div>
					    	</a>
						</div>					
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Offered Bets <span class="badge">{{numOfferedBets}}</span></h3>
					</div>
					<div class="panel-body">
						<div class="list-group">
							<!-- SEARCH TOOL -->
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									</div>
						      		<input type="text" ng-model="searchOffBet" class="form-control" placeholder="Search">
						    	</div>	
							</div>		
							
							<!-- BET LIST -->	
							<a ng-repeat="bet in offeredBets | filter: {title: searchOffBet} | orderBy: 'datetime':true" ng-href="#/browse/{{bet.betId}}">
								<div class="list-group-item">
									<div class="row-picture">
										<img class="circle" ng-src="{{bet.gravatar}}">
									</div>    
							        <div class="row-content">
							            <h4 class="list-group-item-heading">{{bet.title | limitTo:25}}{{ bet.title.length > 25? "..." : ""}}</h4>
							            <span class="list-group-item-text">
							            	<span am-time-ago="{{bet.datetime}}"></span>
							            </span>		            
							        </div>
							        <div class="payment">
							        	<div>${{bet.total}}</div>
							        	<!-- <span class="label status {{bet.status}}">{{bet.status}}</span> -->
							        </div>
							    </div>		    
						    	<div class="list-group-separator"></div>
					    	</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>