<div class="container">
	<div class="row">

		<!-- LEFT COLUMN -->
		<div class="col-md-offset-1 col-md-4">
			<div class="list-group">
				<!-- SEARCH TOOL -->
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</div>
			      		<input type="text" ng-model="searchBet" class="form-control" placeholder="Search">
			    	</div>	
				</div>		
				
				<!-- BET LIST -->	
				<a ng-repeat="bet in bets | filter: {title: searchBet, status: '!cancelled' } | orderBy: 'datetime':true" ng-href="#/browse/{{bet.$id}}">
					<div class="list-group-item">
						<div class="row-picture">
							<img class="circle" ng-src="{{bet.gravatar}}">
						</div>    
				        <div class="row-content">
				            <h4 class="list-group-item-heading">{{bet.title | limitTo:25}}{{ bet.title.length > 25? "..." : ""}}</h4>
				            <span class="list-group-item-text">
				            	<span am-time-ago="{{bet.datetime}}"></span>
				            </span>		            
				        </div>
				        <div class="payment">
				        	<div>${{bet.total}}</div>
				        	<span class="label status {{bet.status}}">{{bet.status}}</span>
				        </div>
				    </div>		    
			    	<div class="list-group-separator"></div>
		    	</a>
			</div>
		</div>

		<!-- RIGHT COLUMN -->
		<div class="col-md-6">
			<div ng-show="listMode">
				<h2>NO BETS SELECTED</h2>
			</div>

			<div ng-show="!listMode">
				<!-- HEADER -->
				<div class="row">
					<div class="col-md-8">
						<h3>{{selectedBet.title}}</h3>
						<span>
							<img ng-src="{{selectedBet.gravatar}}" class="img-circle gravatar">
							Posted by {{selectedBet.name}} -
							<span am-time-ago="{{selectedBet.datetime}}"></span>&nbsp;
							<span class="label status {{selectedBet.status}}">{{selectedBet.status}}</span>
						</span>
					</div>

					<div class="col-md-4 title">
						<div class="price-tag">
							${{selectedBet.total}}
						
							<div ng-show="isBetCreator(selectedBet) && isOpen(selectedBet) && !isAccepted(selectedBet)">
								<div class="btn-group">
								    <a href="" class="btn btn-warning">Admin</a>
								    <a href="" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
								    <ul class="dropdown-menu">
								    	<li><a href="" data-toggle="modal" data-target="#ediModal">EDIT BET</a></li>							        
								        <li class="divider"></li>		        
								        <li><a href="" ng-click="cancelBet(selectedBet.$id)">CANCEL BET</a></li>
								    </ul>
								</div>
							</div>

							<div ng-show="!isBetCreator(selectedBet) && isOpen(selectedBet)">
								<button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#accModal">Accept Bet</button>
							</div>

							<!-- Complete button for bettor -->
							<div ng-show="isBetCreator(selectedBet) && isAccepted(selectedBet) && !isCompleted(selectedBet)">
								<button class="btn btn-danger btn-sm" ng-click="putInPendingComplete(selectedBet.$id)">Complete</button>
							</div>

							<!-- Complete button for bettee -->
							<div ng-show="!isBetCreator(selectedBet) && isPending(selectedBet)">
								<button class="btn btn-danger btn-sm" ng-click="completeBet(selectedBet.$id)">Complete</button>
							</div>
						</div>
					</div>
				</div>

				<br>

				<!-- DESCRIPTION -->
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
						    <div class="panel-heading">
						        <h3 class="panel-title">Description</h3>
						    </div>
						    <div class="panel-body">
						        {{selectedBet.description}}
						    </div>
						</div>
					</div>
				</div>

				<!-- COMMENTS -->
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Comments</h3>
							</div>

							<div class="panel-body">
								<div class="title" ng-hide="comments && comments.length > 0">
									<span>NO COMMENTS ABOUT THIS BET</span>
								</div>
								<br>

								<div class="row" ng-repeat="com in comments">
									<div class="col-md-1">
										<img ng-src="{{com.gravatar}}" class="img-circle comment gravatar">
									</div>
									<div class="col-md-11">
										<div class="well well-sm cmt">
											<span class="cmt-title">{{com.name}}</span>
											<span class="cmt-time pull-right">
												<span am-time-ago="{{com.datetime}}"></span>
											</span>
											<br>
											<span>{{com.content}}</span>
										</div>
									</div>
								</div>

								<div class="row" ng-show="isOpen(selectedBet)">
									<div class="col-md-12">
										<form ng-submit="addComment()">
											<div class="input-group">
												<div class="input-group-addon">
													<img ng-src="{{user.profile.gravatar}}" class="img-circle comment gravatar">
												</div>
												<input type="text" ng-model="content" cols="10" rows="3" class="form-control" placeholder="Comment here..." required>
												<br>
											</div>
											<span class="pull-right">
												<input type="submit" class="btn btn-info" value="Comment">
											</span>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="row">
		<ul>

		</ul>
	</div>
</div>

<div  ng-include="'views/partials/edit.html'"></div>
<div  ng-include="'views/partials/accept.html'"></div>